# Movies - Part 3 -- MySQL Database
- Amber Kutscher
- Data Enrichment

In [1]:
# Imports
import pandas as pd
import json
import mysql.connector
from sqlalchemy import create_engine, String, Text, Float, Integer, text
from sqlalchemy_utils import create_database, database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
with open (r"\Users\amber\.secret\mysql.json") as f:
    login = json.load(f)
    
# Display the keys of the loaded dict
login.keys()

dict_keys(['username', 'password'])

In [3]:
# Connect to the MySQL server and create the "movies" database
connection = mysql.connector.connect(
    host='localhost',
    user=login['username'],  # Use the username from mysql.json
    password=login['password'],  # Use the password from mysql.json
)

cursor = connection.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS movies")
cursor.close()
connection.close()

In [4]:
# Create an engine to connect to the "movies" database in MySQL
engine = create_engine(f'mysql+mysqlconnector://{login["username"]}:{login["password"]}@localhost/movies', echo=True)

In [5]:
# Load cleaned datasets
df_basics = pd.read_csv('Data/title_basics.csv.gz', encoding='utf-8', low_memory=False)
df_ratings = pd.read_csv('Data/title_ratings.csv.gz', encoding='utf-8', low_memory=False)

In [6]:
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0035423            6.4     87623
1  tt0062336            6.4       180
2  tt0068865            5.4        74
3  tt0069049            6.7      7834
4  tt0088751            5.3       341

In [7]:
# Load the JSON files into a Pandas dataframe
df_api_2000 = pd.read_json('Data/tmdb_api_results_2000.json')
df_api_2001 = pd.read_json('Data/tmdb_api_results_2001.json')

In [8]:
# Combine tmdb files into one singular dataframe
tmdb_data = pd.concat([df_api_2000, df_api_2001], ignore_index=True)

## Normalize Genres

In [9]:
# Create a new column with the single-string genres as a list of strings
df_basics['genres_split'] = df_basics['genres'].str.split(',')
df_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
114443,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019.0,NaN,70,Documentary,[Documentary]
114444,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
114445,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
114446,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
114447,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [10]:
# Use .explode() to separate the list of genres into new rows
exploded_genres = df_basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
114446,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
114446,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
114446,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
114447,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
114447,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [11]:
# Use .unique() to get the unique genres from the genres_split column
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [12]:
# Save just tconst and genres_split as a new dataframe
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0068865        Drama

In [13]:
# Make a dictionary with list of unique genres as the key and the new integer id as values
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Game-Show': 11,
 'History': 12,
 'Horror': 13,
 'Music': 14,
 'Musical': 15,
 'Mystery': 16,
 'News': 17,
 'Reality-TV': 18,
 'Romance': 19,
 'Sci-Fi': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [14]:
# Replace the string genres in title_genres with the new integer ids
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [15]:
# Verifying that the above code was applied correctly
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423        10
0  tt0035423        19
1  tt0062336         8
2  tt0068865         8

In [16]:
# Create a genres dataframe
genres = pd.DataFrame({'Genre_Name': genre_map.keys(), 
                       'Genre_ID': genre_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

## Load Dataframes Into MySQL

In [17]:
# Check the dtypes of the df_basics dataframe
df_basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [18]:
# Get the max string length for each column
max_str_len = {}

for column in df_basics.columns:
    max_len = df_basics[column].fillna('').astype(str).apply(len).max()
    max_str_len[column] = max_len

print(max_str_len)

{'tconst': 10, 'titleType': 5, 'primaryTitle': 242, 'originalTitle': 242, 'isAdult': 1, 'startYear': 6, 'endYear': 0, 'runtimeMinutes': 5, 'genres': 32, 'genres_split': 42}

In [19]:
# Calculate max string lengths for object columns
key_len = df_basics['tconst'].fillna('').map(len).max()
title_len = df_basics['primaryTitle'].fillna('').map(len).max()

In [20]:
from sqlalchemy.types import *

In [21]:
# Create a schema dictionary using SQLAlchemy datatype objects
df_schema = {
    "tconst": String(key_len+1),
    "primaryTitle": Text(title_len+1),
    'startYear': Float(),
    'endYear': Float(),
    'runtimeMinutes': Integer()}

In [22]:
# Drop unnecessary columns from df_basics
df_basics.drop(columns=['originalTitle', 'isAdult', 'titleType', 'genres', 'genres_split'], inplace=True)

In [23]:
# Save to sql with dtype and index=False
df_basics.to_sql('title_basics', engine, if_exists='replace', index=False, dtype=df_schema)

2023-10-12 21:00:38,165 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-10-12 21:00:38,166 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:00:38,170 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-10-12 21:00:38,171 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:00:38,173 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-10-12 21:00:38,174 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:00:38,178 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:00:38,179 INFO sqlalchemy.engine.Engine [generated in 0.00125s] {'table_schema': 'movies', 'table_name': 'title_basics'}
2023-10-12 21:00:38,183 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:00:38,186 INFO sqlalchemy.engine.Engine [cached since 0.007773s ago] {'table_schema': 'movies', 'table_name': 'title_basics'}
2023-10-12 21:00:38,189 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `movies`
2023-10-12 21:00:38,190 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:00:38,213 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `title_basics`
2023-10-12 21:00:38,215 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:00:38,221 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:00:38,224 INFO sqlalchemy.engine.Engine
DROP TABLE title_basics
2023-10-12 21:00:38,225 INFO sqlalchemy.engine.Engine [no key 0.00171s] {}
2023-10-12 21:00:38,240 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:00:38,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:00:38,245 INFO sqlalchemy.engine.Engine
CREATE TABLE title_basics (
	tconst VARCHAR(11),
	`primaryTitle` TEXT(243),
	`startYear` FLOAT,
	`endYear` FLOAT,
	`runtimeMinutes` INTEGER
)


2023-10-12 21:00:38,246 INFO sqlalchemy.engine.Engine [no key 0.00111s] {}
2023-10-12 21:00:38,257 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:00:38,307 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:00:39,253 INFO sqlalchemy.engine.Engine INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s)
2023-10-12 21:00:39,254 INFO sqlalchemy.engine.Engine [generated in 0.83816s] ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70}, {'tconst': 'tt0068865', 'primaryTitle': 'Lives of Performers', 'startYear': 2016.0, 'endYear': None, 'runtimeMinutes': 90}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126}, {'tconst': 'tt0097304', 'primaryTitle': "Everything's for You", 'startYear': 2009.0, 'endYear': None, 'runtimeMinutes': 58}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80}  ... displaying 10 of 114448 total bound parameter sets ...  {'tconst': 'tt9916190', 'primaryTitle': 'Safeguard', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 95}, {'tconst': 'tt9916362', 'primaryTitle': 'Coven', 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92})
2023-10-12 21:00:43,226 INFO sqlalchemy.engine.Engine COMMIT

114448

In [24]:
# Create title_ratings table with tconst as primary key
create_table_sql_ratings = """
CREATE TABLE title_ratings (
    tconst VARCHAR(255) PRIMARY KEY,
    averageRating FLOAT,
    numVotes INTEGER
);
"""

# Execute the SQL statement to create the "title_ratings" table
engine.execute(create_table_sql_ratings)

2023-10-12 21:00:53,614 INFO sqlalchemy.engine.Engine
CREATE TABLE title_ratings (
    tconst VARCHAR(255) PRIMARY KEY,
    averageRating FLOAT,
    numVotes INTEGER
);

2023-10-12 21:00:53,615 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:00:53,619 INFO sqlalchemy.engine.Engine ROLLBACK

C:\Users\amber\AppData\Local\Temp\ipykernel_28436\4024125603.py:11: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  engine.execute(create_table_sql_ratings)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'title_ratings' already exists
[SQL:
CREATE TABLE title_ratings (
    tconst VARCHAR(255) PRIMARY KEY,
    averageRating FLOAT,
    numVotes INTEGER
);
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [26]:
# Modify the title_ratings dataframe
title_ratings = df_ratings[['tconst', 'averageRating', 'numVotes']].copy()

In [27]:
# Add title_ratings dataframe to MySQL
title_ratings.to_sql('title_ratings', engine, if_exists='replace', index=False)

2023-10-12 21:01:07,768 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:01:07,769 INFO sqlalchemy.engine.Engine [cached since 29.59s ago] {'table_schema': 'movies', 'table_name': 'title_ratings'}
2023-10-12 21:01:07,773 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:01:07,774 INFO sqlalchemy.engine.Engine [cached since 29.6s ago] {'table_schema': 'movies', 'table_name': 'title_ratings'}
2023-10-12 21:01:07,779 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `movies`
2023-10-12 21:01:07,780 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:01:07,783 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `title_ratings`
2023-10-12 21:01:07,784 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:01:07,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:07,788 INFO sqlalchemy.engine.Engine
DROP TABLE title_ratings
2023-10-12 21:01:07,790 INFO sqlalchemy.engine.Engine [no key 0.00217s] {}
2023-10-12 21:01:07,802 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:01:07,805 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:07,808 INFO sqlalchemy.engine.Engine
CREATE TABLE title_ratings (
	tconst TEXT,
	`averageRating` FLOAT(53),
	`numVotes` BIGINT
)


2023-10-12 21:01:07,810 INFO sqlalchemy.engine.Engine [no key 0.00240s] {}
2023-10-12 21:01:07,821 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:01:07,840 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:08,539 INFO sqlalchemy.engine.Engine INSERT INTO title_ratings (tconst, `averageRating`, `numVotes`) VALUES (%(tconst)s, %(averageRating)s, %(numVotes)s)
2023-10-12 21:01:08,542 INFO sqlalchemy.engine.Engine [generated in 0.61979s] ({'tconst': 'tt0035423', 'averageRating': 6.4, 'numVotes': 87623}, {'tconst': 'tt0062336', 'averageRating': 6.4, 'numVotes': 180}, {'tconst': 'tt0068865', 'averageRating': 5.4, 'numVotes': 74}, {'tconst': 'tt0069049', 'averageRating': 6.7, 'numVotes': 7834}, {'tconst': 'tt0088751', 'averageRating': 5.3, 'numVotes': 341}, {'tconst': 'tt0096056', 'averageRating': 5.6, 'numVotes': 853}, {'tconst': 'tt0097304', 'averageRating': 7.0, 'numVotes': 16}, {'tconst': 'tt0100275', 'averageRating': 6.5, 'numVotes': 350}  ... displaying 10 of 87571 total bound parameter sets ...  {'tconst': 'tt9916190', 'averageRating': 3.7, 'numVotes': 243}, {'tconst': 'tt9916362', 'averageRating': 6.4, 'numVotes': 5543})
2023-10-12 21:01:10,894 INFO sqlalchemy.engine.Engine COMMIT

87571

In [28]:
# Add title_genres dataframe to MySQL
title_genres.to_sql('title_genres', engine, if_exists='replace', index=False)

2023-10-12 21:01:15,044 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:01:15,045 INFO sqlalchemy.engine.Engine [cached since 36.87s ago] {'table_schema': 'movies', 'table_name': 'title_genres'}
2023-10-12 21:01:15,050 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:01:15,051 INFO sqlalchemy.engine.Engine [cached since 36.87s ago] {'table_schema': 'movies', 'table_name': 'title_genres'}
2023-10-12 21:01:15,054 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `movies`
2023-10-12 21:01:15,056 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:01:15,059 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `title_genres`
2023-10-12 21:01:15,060 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:01:15,063 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:15,065 INFO sqlalchemy.engine.Engine
DROP TABLE title_genres
2023-10-12 21:01:15,067 INFO sqlalchemy.engine.Engine [no key 0.00149s] {}
2023-10-12 21:01:15,079 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:01:15,081 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:15,083 INFO sqlalchemy.engine.Engine
CREATE TABLE title_genres (
	tconst TEXT,
	genre_id BIGINT
)


2023-10-12 21:01:15,084 INFO sqlalchemy.engine.Engine [no key 0.00144s] {}
2023-10-12 21:01:15,095 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:01:15,111 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:16,466 INFO sqlalchemy.engine.Engine INSERT INTO title_genres (tconst, genre_id) VALUES (%(tconst)s, %(genre_id)s)
2023-10-12 21:01:16,468 INFO sqlalchemy.engine.Engine [generated in 1.16394s] ({'tconst': 'tt0035423', 'genre_id': 5}, {'tconst': 'tt0035423', 'genre_id': 10}, {'tconst': 'tt0035423', 'genre_id': 19}, {'tconst': 'tt0062336', 'genre_id': 8}, {'tconst': 'tt0068865', 'genre_id': 8}, {'tconst': 'tt0069049', 'genre_id': 8}, {'tconst': 'tt0088751', 'genre_id': 5}, {'tconst': 'tt0088751', 'genre_id': 13}  ... displaying 10 of 204754 total bound parameter sets ...  {'tconst': 'tt9916362', 'genre_id': 8}, {'tconst': 'tt9916362', 'genre_id': 12})
2023-10-12 21:01:21,311 INFO sqlalchemy.engine.Engine COMMIT

204754

In [29]:
# Add genres dataframe to MySQL
genres.to_sql('genres', engine, if_exists='replace', index=False)

2023-10-12 21:01:21,357 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:01:21,359 INFO sqlalchemy.engine.Engine [cached since 43.18s ago] {'table_schema': 'movies', 'table_name': 'genres'}
2023-10-12 21:01:21,362 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:01:21,364 INFO sqlalchemy.engine.Engine [cached since 43.19s ago] {'table_schema': 'movies', 'table_name': 'genres'}
2023-10-12 21:01:21,367 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `movies`
2023-10-12 21:01:21,368 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:01:21,372 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `genres`
2023-10-12 21:01:21,373 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:01:21,376 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:21,378 INFO sqlalchemy.engine.Engine
DROP TABLE genres
2023-10-12 21:01:21,379 INFO sqlalchemy.engine.Engine [no key 0.00106s] {}
2023-10-12 21:01:21,386 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:01:21,388 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:21,390 INFO sqlalchemy.engine.Engine
CREATE TABLE genres (
	`Genre_Name` TEXT,
	`Genre_ID` BIGINT
)


2023-10-12 21:01:21,391 INFO sqlalchemy.engine.Engine [no key 0.00149s] {}
2023-10-12 21:01:21,402 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:01:21,404 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:01:21,406 INFO sqlalchemy.engine.Engine INSERT INTO genres (`Genre_Name`, `Genre_ID`) VALUES (%(Genre_Name)s, %(Genre_ID)s)
2023-10-12 21:01:21,407 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ({'Genre_Name': 'Action', 'Genre_ID': 0}, {'Genre_Name': 'Adult', 'Genre_ID': 1}, {'Genre_Name': 'Adventure', 'Genre_ID': 2}, {'Genre_Name': 'Animation', 'Genre_ID': 3}, {'Genre_Name': 'Biography', 'Genre_ID': 4}, {'Genre_Name': 'Comedy', 'Genre_ID': 5}, {'Genre_Name': 'Crime', 'Genre_ID': 6}, {'Genre_Name': 'Documentary', 'Genre_ID': 7}  ... displaying 10 of 26 total bound parameter sets ...  {'Genre_Name': 'War', 'Genre_ID': 24}, {'Genre_Name': 'Western', 'Genre_ID': 25})
2023-10-12 21:01:21,410 INFO sqlalchemy.engine.Engine COMMIT

26

In [30]:
# Modify the tmdb_data dataframe
tmdb_data = tmdb_data[['imdb_id', 'revenue', 'budget', 'certification', 'title']].copy()

In [31]:
tmdb_data.head()

     imdb_id     revenue      budget certification                 title
0          0         NaN         NaN           NaN                   NaN
1  tt0113026         0.0  10000000.0                     The Fantasticks
2  tt0113092         0.0         0.0                       For the Cause
3  tt0116391         0.0         0.0           NaN                  Gang
4  tt0118694  14204632.0    150000.0            PG  In the Mood for Love

In [41]:
# Create schema for tmdb_data table
tmdb_data_schema = {
    "imdb_id": String(length=255),
    "revenue": Float(),
    "budget": Float(),
    "certification": String(length=255),
    "title": Text()}

In [42]:
# Create tmdb_data table
tmdb_data.to_sql('tmdb_data', engine, if_exists='replace', index=False, dtype=tmdb_data_schema)

2023-10-12 21:28:33,088 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:28:33,088 INFO sqlalchemy.engine.Engine [cached since 1675s ago] {'table_schema': 'movies', 'table_name': 'tmdb_data'}
2023-10-12 21:28:33,092 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-10-12 21:28:33,092 INFO sqlalchemy.engine.Engine [cached since 1675s ago] {'table_schema': 'movies', 'table_name': 'tmdb_data'}
2023-10-12 21:28:33,097 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `movies`
2023-10-12 21:28:33,099 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:28:33,102 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `tmdb_data`
2023-10-12 21:28:33,104 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-12 21:28:33,107 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:28:33,108 INFO sqlalchemy.engine.Engine
DROP TABLE tmdb_data
2023-10-12 21:28:33,109 INFO sqlalchemy.engine.Engine [no key 0.00131s] {}
2023-10-12 21:28:33,116 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:28:33,119 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:28:33,122 INFO sqlalchemy.engine.Engine
CREATE TABLE tmdb_data (
	imdb_id VARCHAR(255),
	revenue FLOAT,
	budget FLOAT,
	certification VARCHAR(255),
	title TEXT
)


2023-10-12 21:28:33,124 INFO sqlalchemy.engine.Engine [no key 0.00168s] {}
2023-10-12 21:28:33,134 INFO sqlalchemy.engine.Engine COMMIT
2023-10-12 21:28:33,140 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-12 21:28:33,167 INFO sqlalchemy.engine.Engine INSERT INTO tmdb_data (imdb_id, revenue, budget, certification, title) VALUES (%(imdb_id)s, %(revenue)s, %(budget)s, %(certification)s, %(title)s)
2023-10-12 21:28:33,169 INFO sqlalchemy.engine.Engine [generated in 0.02286s] ({'imdb_id': 0, 'revenue': None, 'budget': None, 'certification': None, 'title': None}, {'imdb_id': 'tt0113026', 'revenue': 0.0, 'budget': 10000000.0, 'certification': '', 'title': 'The Fantasticks'}, {'imdb_id': 'tt0113092', 'revenue': 0.0, 'budget': 0.0, 'certification': '', 'title': 'For the Cause'}, {'imdb_id': 'tt0116391', 'revenue': 0.0, 'budget': 0.0, 'certification': None, 'title': 'Gang'}, {'imdb_id': 'tt0118694', 'revenue': 14204632.0, 'budget': 150000.0, 'certification': 'PG', 'title': 'In the Mood for Love'}, {'imdb_id': 'tt0118852', 'revenue': 0.0, 'budget': 0.0, 'certification': 'R', 'title': 'Chinese Coffee'}, {'imdb_id': 'tt0119273', 'revenue': 0.0, 'budget': 15000000.0, 'certification': 'R', 'title': 'Heavy Metal 2000'}, {'imdb_id': 'tt0119495', 'revenue': 0.0, 'budget': 0.0, 'certification': 'R', 'title': 'Love 101'}  ... displaying 10 of 2985 total bound parameter sets ...  {'imdb_id': 'tt9668554', 'revenue': 0.0, 'budget': 0.0, 'certification': '', 'title': 'Armageddon: Bible Prophecies and the Predictions of Nostradamus'}, {'imdb_id': 'tt9789230', 'revenue': 0.0, 'budget': 0.0, 'certification': '', 'title': 'Girls Who Like Girls'})
2023-10-12 21:28:33,232 INFO sqlalchemy.engine.Engine COMMIT

2985

## Queries

In [34]:
# Show the first 5 rows of title_basics
query_show_title_basics = """
SELECT *
FROM title_basics
LIMIT 5;"""

result_title_basics = engine.execute(query_show_title_basics)
for row in result_title_basics:
    print(row)

2023-10-12 21:02:24,805 INFO sqlalchemy.engine.Engine
SELECT *
FROM title_basics
LIMIT 5;
2023-10-12 21:02:24,807 INFO sqlalchemy.engine.Engine [raw sql] {}
('tt0035423', 'Kate & Leopold', 2001.0, None, 118)
('tt0062336', 'The Tango of the Widower and Its Distorting Mirror', 2020.0, None, 70)
('tt0068865', 'Lives of Performers', 2016.0, None, 90)
('tt0069049', 'The Other Side of the Wind', 2018.0, None, 122)
('tt0088751', 'The Naked Monster', 2005.0, None, 100)

In [35]:
# Show the first 5 rows of title_ratings
query_show_title_ratings = """
SELECT *
FROM title_ratings
LIMIT 5;
"""

result_title_ratings = engine.execute(query_show_title_ratings)
for row in result_title_ratings:
    print(row)

2023-10-12 21:02:26,800 INFO sqlalchemy.engine.Engine
SELECT *
FROM title_ratings
LIMIT 5;

2023-10-12 21:02:26,802 INFO sqlalchemy.engine.Engine [raw sql] {}
('tt0035423', 6.4, 87623)
('tt0062336', 6.4, 180)
('tt0068865', 5.4, 74)
('tt0069049', 6.7, 7834)
('tt0088751', 5.3, 341)

In [36]:
# Show the first 5 rows of title_genres
query_show_title_genres = """
SELECT *
FROM title_genres
LIMIT 5;
"""

result_title_genres = engine.execute(query_show_title_genres)
for row in result_title_genres:
    print(row)

2023-10-12 21:02:27,737 INFO sqlalchemy.engine.Engine
SELECT *
FROM title_genres
LIMIT 5;

2023-10-12 21:02:27,739 INFO sqlalchemy.engine.Engine [raw sql] {}
('tt0035423', 5)
('tt0035423', 10)
('tt0035423', 19)
('tt0062336', 8)
('tt0068865', 8)

In [37]:
# Show first 5 rows of genres table
query_show_genres = """
SELECT *
FROM genres
LIMIT 5;
"""

result_genres = engine.execute(query_show_genres)
for row in result_genres:
    print(row)

2023-10-12 21:02:32,047 INFO sqlalchemy.engine.Engine
SELECT *
FROM genres
LIMIT 5;

2023-10-12 21:02:32,048 INFO sqlalchemy.engine.Engine [raw sql] {}
('Action', 0)
('Adult', 1)
('Adventure', 2)
('Animation', 3)
('Biography', 4)

In [43]:
# Show first 5 rows of tmdb_data table
query_show_tmdb_data = """
SELECT *
FROM tmdb_data
LIMIT 10;
"""

result_tmdb_data = engine.execute(query_show_tmdb_data)
for row in result_tmdb_data:
    print(row)

2023-10-12 21:31:15,252 INFO sqlalchemy.engine.Engine
SELECT *
FROM tmdb_data
LIMIT 10;

2023-10-12 21:31:15,254 INFO sqlalchemy.engine.Engine [raw sql] {}
('0', None, None, None, None)
('tt0113026', 0.0, 10000000.0, '', 'The Fantasticks')
('tt0113092', 0.0, 0.0, '', 'For the Cause')
('tt0116391', 0.0, 0.0, None, 'Gang')
('tt0118694', 14204600.0, 150000.0, 'PG', 'In the Mood for Love')
('tt0118852', 0.0, 0.0, 'R', 'Chinese Coffee')
('tt0119273', 0.0, 15000000.0, 'R', 'Heavy Metal 2000')
('tt0119495', 0.0, 0.0, 'R', 'Love 101')
('tt0119806', 0.0, 0.0, None, 'Nothing Sacred')
('tt0119966', 0.0, 0.0, None, 'Pushing the Envelope')

In [40]:
# Execute the SQL query to list all tables
result = engine.execute("SHOW TABLES;")

# Fetch and print the table names
table_names = [row[0] for row in result.fetchall()]
print(table_names)

# Close the connection
connection.close()

2023-10-12 21:03:07,209 INFO sqlalchemy.engine.Engine SHOW TABLES;
2023-10-12 21:03:07,212 INFO sqlalchemy.engine.Engine [raw sql] {}
['genres', 'title_basics', 'title_genres', 'title_ratings', 'tmdb_data']